@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(181 240 186);
  
 
}
.container{
    width: 938px;
    height: 1127px;
    border-radius: 30%;
    border: #cf0df1;
    
}
.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}
.img-fluid {
    max-width: 83%;
    height: auto;
}
.content{
    margin: 18%;
    background-color: #fff;
    padding: 2rem 1rem 4rem 1rem;
    box-sizing: 0 0 5px 5px rbg(0,0,0,0.5);

}
.signin-text{
    font-style: normal;
    font-weight: 600 !important;

}

.form-control{
    display: block;
    font-size: 14px;
    font-style: normal;
    font-family: sans-serif;
    font-weight: 600 !important;
    line-height: 1.5;
    border-color: black;
    border-style: solid;
    border-width: 0 0 1px 0 !important;
    padding: 0px ;
    color: rgb(49, 54, 39);
    height: auto;
    border-radius: 0;
    background-color: #fff;
    background-clip: padding-box;
}

.form-control:focus{
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}
.form-check-label{
    padding-top: 15px;
}
.btn-class{
    border-color:rgb(8, 8, 8);
    color: rgb(15, 194, 89);
    align-items:center;

}
.btn-class:hover{
    background-color: #a0e94d;
}

.pay{
    padding: auto;
    display: block;
    text-align: center;
    margin-top: 61px;
    margin-bottom: -8.5rem;
    font-family: 'Noto Serif', serif;
}
h1{
    color: #0d7ff1;
}
